<h1>My song name </h1>
<%= form_for Song.new do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id %>
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id %>

    <%= form.submit "Create Song"%>
    <%end%> 